@font-face {
  font-family: "DejaVuSansMNerdFontMono";
  src: url("../library/public/DejaVuSansMNerdFontMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: dark;
  background-color: black;
}

#app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

* {
  font-family: "DejaVuSansMNerdFontMono", monospace;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}
