name: Linkspector
on: [pull_request]
permissions:
  contents: read
  pull-requests: write
jobs:
  check-links:
    name: runner / linkspector
    # Temporarily work around this issue by downgrading the runner OS
    # https://github.com/UmbrellaDocs/action-linkspector/issues/32
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run linkspector
        # needs to be pinned to 1.2.5 avoid
        # https://github.com/UmbrellaDocs/action-linkspector/issues/30
        uses: umbrelladocs/action-linkspector@652f85bc57bb1e7d4327260decc10aa68f7694c3 # v1.4.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          fail_on_error: true
