on:
  workflow_dispatch: # makes it possible to run the workflow manually
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-24.04
    steps:
      - uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_ACCESS_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
