# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Style checking

on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-24.04
    name: prettier
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          # https://github.com/pnpm/action-setup?tab=readme-ov-file#use-cache-to-reduce-installation-time
          run_install: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm prettier

  stylua:
    name: stylua
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: JohnnyMorganz/stylua-action@479972f01e665acfcba96ada452c36608bdbbb5e # v4.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # renovate: datasource=github-releases depName=JohnnyMorganz/StyLua
          version: v2.3.1
          # CLI arguments
          args: --color always --check --allow-hidden .
