---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name:
      "Test (neovim ${{ matrix.neovim_version }}, yazi ${{
      matrix.yazi-version.name }})"
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        neovim_version: ["nightly", "stable"]
        yazi-version:
          - name: nightly
            method: cargo-install
            # renovate: datasource=git-refs packageName=https://github.com/sxyazi/yazi
            commit: 5fe58ba2b1b0999f92ef292991256c151c97b16f
          - name: stable
            method: download
            # renovate: datasource=github-releases depName=sxyazi/yazi
            version: v25.5.31

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Install tools with UBI
        shell: bash
        run: |
          mkdir -p "$HOME/.local/bin"
          # make the tools available for subsequent steps
          echo "$(pwd)/bin" >> "$GITHUB_PATH"
          curl --silent --location \
              https://raw.githubusercontent.com/houseabsolute/ubi/master/bootstrap/bootstrap-ubi.sh |
              TARGET="$HOME/.local/bin" sh

          ubi --project mikefarah/yq
          ubi --project jdx/mise

          VERSION=$(yq '.tools."ubi:EmmyLuaLs/emmylua-analyzer-rust".version' .mise.toml)
          ubi --project EmmyLuaLs/emmylua-analyzer-rust --tag "$VERSION" --exe emmylua_ls --matching-regex "^emmylua_ls"

          VERSION=$(yq '.tools."ubi:BurntSushi/ripgrep".version' .mise.toml)
          ubi --project BurntSushi/ripgrep --tag "$VERSION" --exe rg

          VERSION=$(yq '.tools."ubi:junegunn/fzf"' .mise.toml)
          ubi --project junegunn/fzf --tag "v$VERSION"

          VERSION=$(yq '.tools."ubi:sharkdp/fd"' .mise.toml)
          ubi --project sharkdp/fd --tag "v$VERSION"
          ls -alR bin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install the mold linker
        uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # v1

      - name: Compile and install `yazi-fm` from source
        if: matrix.yazi-version.method == 'cargo-install'
        uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
        with:
          # Due to Cargo's limitations, the `yazi-fm` and `yazi-cli` crates on
          # crates.io must be built with `cargo install --force yazi-build`
          # https://github.com/sxyazi/yazi/blob/2ec3a6c645324295331c0f2ef6d4d946cf11c06b/yazi-fm/build.rs?plain=1#L23-L25
          crate: yazi-build
          git: https://github.com/sxyazi/yazi
          commit: ${{ matrix.yazi-version.commit }}
          # tag: ${{ matrix.yazi-version.tag }}

      - name: Download prebuilt yazi version
        if: matrix.yazi-version.method == 'download'
        run: |
          ubi --project sxyazi/yazi --tag "${{ matrix.yazi-version.version }}" --extract-all

      - name: Make sure yazi and ya are installed
        run: |
          echo "PATH:"
          echo "$PATH"

          yazi --version
          ya --version

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          # https://github.com/pnpm/action-setup?tab=readme-ov-file#use-cache-to-reduce-installation-time
          run_install: false
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install

      - name: Run tests
        uses: nvim-neorocks/nvim-busted-action@d30f6d4d794c0e77b6edb530872205f98ae969c4 # v1.1.1
        with:
          nvim_version: ${{ matrix.neovim_version }}
          luarocks_version: "3.11.1"
          before: |
            mise run build

      - name: Verify that dependencies are available
        run: |
          # ripgrep is a dependency of telescope and fzf-lua
          #
          # fd is a dependency of telescope and fzf-lua
          # https://github.com/sharkdp/fd?tab=readme-ov-file#on-ubuntu
          # make sure it's available as `fd` - there seems to be some conflict in Ubuntu
          #
          # realpath is used to resolve relative paths in yazi.nvim
          fd --version
          fzf --version
          rg --version
          which realpath || { exit 1; }

      - working-directory: integration-tests
        name: Prepare Neovim for integration tests
        run: |
          # NVIM_APPNAME=nvim is the default, but spelled out here for clarity
          NVIM_APPNAME=nvim pnpm tui neovim prepare
          NVIM_APPNAME=nvim_integrations pnpm tui neovim prepare

      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install

      - name: Cypress test
        uses: cypress-io/github-action@v6
        with:
          install: false
          command: pnpm tui run

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`

